body {
  padding-top: 60px;
}
.bg-custom {
  background-color: #fff;
}
.logoMenu {
  padding-left: 50px;
}
.navbar-light .navbar-nav .nav-link {
  color: #000;
}

.icones {
  padding-right: 50px;
}
#btnAssociar {
  color: #e26e11;
  font-weight: bold;
  background-color: #fdc018;
  min-height: 35px;
  border: none;
  border-radius: 25px;
  padding: 0 20px 0 20px;
  cursor: pointer;
  margin-right: 100px;
}
.fa-facebook-f {
  color: #a9a8a8;
  margin-right: 10px;
}
.fa-instagram {
  color: #a9a8a8;
  margin-right: 30px;
}
