body {
  padding-top: 60px;
}
.bg-custom {
  background-color: #fff;
}
.logoMenu {
  padding-left: 50px;
}
.navbar-light .navbar-nav .nav-link {
  color: #000;
}

.icones {
  padding-right: 50px;
}
#btnAssociar {
  color: #a52200;
  font-weight: bold;
  background-color: #fdc018;
  min-height: 35px;
  border: none;
  border-radius: 25px;
  padding: 0 20px 0 20px;
  cursor: pointer;
  margin-right: 100px;
}
.fa-facebook-f {
  color: #a9a8a8;
  margin-right: 10px;
}
.fa-instagram {
  color: #a9a8a8;
  margin-right: 30px;
}
.whatsappButton {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 100px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 2px #666;
  z-index: 1000;
}
.fa-whatsapp {
  margin-top: 10px;
}
img {
  max-width: 100%;
  align-self: center;
  margin: 0 auto;
  height: auto;
}

h1,
h6 {
  text-align: center;
}
.sublinhado {
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sublinhadoInterno {
  background-color: #73a0d7;
  width: 100px;
  height: 5px;
}
.conteudoBeneficios {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 20px 20px 100px 20px;
}
@media (max-width: 990px) {
  .conteudoBeneficios {
    margin: 10px 20px 40px 20px;
  }
}
.iconeBeneficios {
  margin-bottom: 20px;
}
h5 {
  color: #808080;
}
p {
  color: #666;
}
.containerComoFunciona {
  background-color: #f7f7f7;
  min-height: 100px;
  position: relative;
}
.textoComoFunciona {
  text-align: end;
  font-size: 1.15em;
}
.familia {
  overflow: visible;
  margin: -50px 50px -25px 0;
}
.familiaContainer {
  position: relative;
}
.btnAssociarFamilia {
  position: absolute;
  font-size: 1.25em;
  color: #fff;
  font-weight: bold;
  /* background-color: #fdc018; */
  min-height: 50px;
  border: none;
  border-radius: 25px;
  padding: 0 60px 0 60px;
  cursor: pointer;
  margin-left: -430px;
  margin-top: 200px;
  background: linear-gradient(
    142deg,
    rgba(196, 47, 49, 1) 0%,
    rgba(104, 38, 125, 1) 46%,
    rgba(33, 31, 181, 1) 91%
  );
}

.sublinhadoComoFunciona {
  height: 20px;
  max-width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.sublinhadoInternoComoFunciona {
  background-color: #73a0d7;
  margin-right: -0.9em;
  height: 8px;
}
.tituloComoFunciona {
  position: absolute;
  margin-right: 8em;
  top: -60px;
}
.conteudoComoFunciona {
  margin-right: 8em;
}
.sublinhadoSobre {
  height: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.sublinhadoInternoSobre {
  background-color: #73a0d7;
  height: 8px;
}

.logotipoSobre {
  max-width: 100%;
  height: auto;
  margin-left: 2em;
}
#sobre {
  margin-left: 7em;
}
.imagem {
  padding-left: 100px;
}
.tituloParceiros {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
